<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tushal project</title>
    <link rel="stylesheet" href="../index.html">
    <link rel="stylesheet" href="../css/nav.css">
</head>
<body>
    <nav>
        <div class="hero">
        <div class="logo">
<h1>Omah<span>.</span></h1>
</div>
<div class="menuContainer">
    <div class="menuicon" onclick="toggle()">
        <img src="../media/menus.png">
    </div>
    <ul id="menu" class="menu">
        <div class="menuicon previous" onclick="toggle()">
            <img src="../media/close.png">
        </div>
        <li><a href="">Home</a></li>
        <li><a href="">To rent</a></li>
        <li><a href="">For sale</a></li>
        <li><a href="">Investment portal</a></li>
    </ul>
</div>
</div>
<div class="buttons">
<button class="login"><img src="../media/user-interface.png" alt=""><span class="hide">Login / Register</span></button>
<button class="property"><span class="hide">Add property</span><img src="../media/right-up.png" alt=""></button>
</div>

    </nav>
</body>
<script src="../js/script.js"></script>
</html>